<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="fragment" content="!">
  <meta name="theme-color" content="#f9c950" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" rel="preload" href="/images/favicon.ico" type="image/x-icon">
  <!-- <link rel="stylesheet" href="/fonts/cards/font-awesome.css" /> -->
  <script src="https://kit.fontawesome.com/d2e49c18a3.js" crossorigin="anonymous"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">

  <title>React App</title>
</head>

<body></body>