<template name="DinamycReactiveTable">
  <div id="table-users">
    <h3>
      <strong>Buscar</strong>
    </h3>

    <div class="search-filer-prestaly">
      {{> reactiveTableFilter id="filter3" label=" " }}
    </div>

    {{> reactiveTable settings=settings_table class="table table-clients" }}
  </div>
</template>