.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

/*CUSTOM INPUTS*/
.input-mt{
    background-color: transparent;
    color: white;
}

.input-mt:focus{
    background-color: transparent;
    color: white;
    border-color: white;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
    border-width: 2px;
    transition-duration:2s;
}
/*CUSTOM INPUTS*/